*{
	font-family: 'Abril Fatface', cursive;
	margin: 0%;
	padding: 0%;
}
.Main-first{
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(to right,#ff105f,#ffad06);
	
	background-repeat: no-repeat;
	background-size: cover;
}
#logo{
	font-family: 'Abril Fatface';
	left: 0px;
	width: 100px;
	text-align: center;
	font-size:xxx-large;
	font-weight: bold ;
	font-style: italic;	
}
#city{
	font-weight: bold;
}
#quote{
	background-color: grey;
	color: #000;
	font-size: larger;
	padding: 10px;
	text-align: center;

}
#Sort-Filters
{
	margin: 5px;
	display: flex;
	justify-content: flex-start;
	background-color: ghostwhite;

}
/*#sort{
	padding: 10px;
	margin: 5px;
	background-color: grey;
	border-radius: 100%;
	font-size: medium;
}
#filter{
	padding: 10px;
	margin: 5px;
	background-color: grey;
	border-radius: 100%;
	font-size: medium;
}*/
#room-cards
{	
	left: 0%;
	width: 100%;
	
}
.card{
	background-color: yellow;
	display: flex;
	margin-bottom: 20px;
	font-size: larger;
	width: 100%;
	padding: 5%;
	
}
.room-details{
	margin-left: 15px;
}
.price{
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}
.type{
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}
#Home{

	width:120px ;
	text-align: center;
	font-style: italic;
	font-size: medium;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border-radius: 30px;
}
.phone-no{
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 1px;
	padding: 2px;
}
.details{
	margin-top: 5px;
	padding: 2px;
}
.post{
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}
.Size{
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}

	td{
		width: 280px;
		height: 100%;
		text-align: center;
	}
	tr{
		background-color:#ffad06 ;
	}
	.details-btn{
		width: 200px;
		background: linear-gradient(to right,#ff105f,#ffad06);
		border-radius: 30px;
	}
	#details{
    width: 30%;
}
